apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}-sre-technical-challenge
  labels:
    app.kubernetes.io/managed-by: {{ .Release.Service | quote }}
    app.kubernetes.io/instance: {{ .Release.Name | quote }}
    app.kubernetes.io/version: {{ .Chart.AppVersion }}
    helm.sh/chart: "{{ .Chart.Name }}-{{ .Chart.Version }}"
spec:
  type: ClusterIP
  ports:
    - name: http-port
      port: 80
      targetPort: {{ .Values.env.PORT }}
      protocol: TCP
  selector:
    app: {{ .Release.Name }}
